<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                template="./WEB-INF/templates/layout.xhtml">

    <ui:define name="styles">
        <link href="./css/inscricao.css" rel="stylesheet" type="text/css" />
    </ui:define>

    <ui:define name="metadata">
    </ui:define>

    <ui:define name="javascript">
    </ui:define>

    <ui:define name="content">
        <div class="titulo-lista">LISTA DE CANDIDATOS</div>
        <h:form>
            <h:outputLabel for="idioma" value="Idioma"/>
            <h:selectOneMenu id="idioma" value="#{inscricaoBean.idioma}" style="width:12em" styleClass="ui-selectonemenu">
                <f:selectItems value="#{inscricaoBean.idiomas}" var="i" itemValue="#{i.codigo}" itemLabel="#{i.descricao}"/>
            </h:selectOneMenu>

            <h:commandButton value="Filtrar" action="#{inscricaoBean.filtrarAction()}" />

            <h:dataTable id="listaCandidatos" value="#{inscricaoBean.candidatos}" var="cand">
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Idioma" />
                    </f:facet>
                    <h:outputText value="#{cand.idioma.descricao}"/>
                </h:column>

                <h:column>
                    <f:facet name="header">
                        <h:outputText value="CPF" />
                    </f:facet>
                    <h:outputText value="#{cand.cpf}"/>
                </h:column>

                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Nome" />
                    </f:facet>
                    <h:outputText value="#{cand.nome}"/>
                </h:column>

                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Cidade" />
                    </f:facet>
                    <h:outputText value="#{cand.cidade}"/>
                </h:column>

                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Estado" />
                    </f:facet>
                    <h:outputText value="#{cand.estado}"/>
                </h:column>
                <h:commandButton value="Voltar" action="inscricao"/>
                <h:messages/>
            </h:dataTable>
        </h:form>
    </ui:define>

</ui:composition>